body{background-color:rosybrown; 
font-family: Arial, sans-serif;
}
.business-card{background-color:red; width:300px; padding:20px; margin:100px; text-align:center; font-size:16px; margin-right:auto; margin-left:auto;}

.profile-image{max-width:100%;
}
p{margin-top:5px; margin-bottom:5px;}
a{text-decoration:none;}
